[submodule "runtime/retropack-runtime-mgba/submodules/mgba"]
	path = runtime/retropack-runtime-mgba/submodules/mgba
	url = https://github.com/mgba-emu/mgba.git
[submodule "runtime/retropack-runtime-melonds/submodules/melonds"]
	path = runtime/retropack-runtime-melonds/submodules/melonds
	url = https://github.com/melonDS-emu/melonDS.git
[submodule "runtime/retropack-runtime-snes9x/submodules/snes9x"]
	path = runtime/retropack-runtime-snes9x/submodules/snes9x
	url = https://github.com/snes9xgit/snes9x.git
[submodule "runtime/retropack-runtime-genesis/submodules/genesis-plus-gx"]
	path = runtime/retropack-runtime-genesis/submodules/genesis-plus-gx
	url = https://github.com/ekeeke/Genesis-Plus-GX.git
[submodule "runtime/retropack-runtime-fceumm/submodules/fceumm"]
	path = runtime/retropack-runtime-fceumm/submodules/fceumm
	url = https://github.com/libretro/libretro-fceumm.git
[submodule "runtime/retropack-runtime-pce/submodules/beetle-pce-fast"]
	path = runtime/retropack-runtime-pce/submodules/beetle-pce-fast
	url = https://github.com/libretro/beetle-pce-fast-libretro.git
[submodule "runtime/retropack-runtime-pcsx/submodules/pcsx_rearmed"]
	path = runtime/retropack-runtime-pcsx/submodules/pcsx_rearmed
	url = https://github.com/libretro/pcsx_rearmed.git
[submodule "runtime/retropack-runtime-mupen64/submodules/mupen64plus-next"]
	path = runtime/retropack-runtime-mupen64/submodules/mupen64plus-next
	url = https://github.com/libretro/mupen64plus-libretro-nx.git
[submodule "runtime/retropack-runtime-ppsspp/submodules/ppsspp"]
	path = runtime/retropack-runtime-ppsspp/submodules/ppsspp
	url = https://github.com/hrydgard/ppsspp.git
[submodule "runtime/retropack-runtime-fbneo/submodules/fbneo"]
	path = runtime/retropack-runtime-fbneo/submodules/fbneo
	url = https://github.com/libretro/FBNeo.git

