<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retropack.runtime">

    <!-- Standalone Offline-First Architecture: Zero runtime permissions -->

    <application
        android:label="RetroPack Game"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:extractNativeLibs="false"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hasFragileUserData="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="com.retropack.runtime.GameActivity"
            android:exported="true"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.retropack.runtime.logging.RuntimeLoggingService"
            android:exported="false" />

    </application>
</manifest>
